.transparent-background {
  background-color: transparent;
  zoom: 1; }

.yvp_container {
  font-size: 16px;
  line-height: 1.5em; }
  .yvp_container audio,
  .yvp_container canvas,
  .yvp_container progress,
  .yvp_container video {
    display: inline-block;
    vertical-align: baseline;
    *display: inline;
    *zoom: 1; }

@font-face {
  font-family: "videoplayer";
  font-weight: normal;
  font-style: normal;
  src: url("../font/videoplayer.eot");
  src: url("../font/videoplayer.eot?#iefix") format("eot"), url("../font/videoplayer.svg#videoplayer") format("svg"), url("../font/videoplayer.woff") format("woff"), url("../font/videoplayer.ttf") format("truetype"); }

.yvphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'videoplayer';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff; }

.yvphicon-play:before {
  content: "\0021"; }

.yvphicon-pause:before {
  content: "\0022"; }

.yvphicon-next:before {
  content: "\0023"; }

.yvphicon-square:before {
  content: "\0024"; }

.yvphicon-horn:before {
  content: "\0025"; }

.yvphicon-freverse:before {
  content: "\0026"; }

.yvphicon-fspead:before {
  content: "\0027"; }

.yvphicon-rightflag:before {
  content: "\0028"; }

.yvphicon-fullscreen:before {
  content: "\0029"; }

.yvp_icon {
  background: url("../images/videoplayericon.png") 0 0;
  background-size: 6.25em 6.25em; }

.mod-yivideo-warp {
  width: 853px;
  height: 480px; }

.yvp_container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #eee;
  background-color: #000;
  font-family: sans-serif;
  font-size: 16px;
  overflow: hidden; }
  .yvp_container div, .yvp_container p, .yvp_container a, .yvp_container span, .yvp_container em, .yvp_container strong, .yvp_container li, .yvp_container ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.yvp_video {
  height: 100%;
  background-color: #000;
  color: #000; }
  .yvp_video video {
    display: block;
    background-color: #000;
    color: #000;
    margin: 0;
    padding: 0; }

.yvp_overlay_play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 94px;
  height: 94px;
  margin-left: -47px;
  margin-top: -47px;
  line-height: 3;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 94px;
  border: 1px solid rgba(255, 255, 255, 0.15); }

.yvp_button_play {
  display: block;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 44px;
  margin-top: 25px;
  margin-left: 35px;
  background: none;
  vertical-align: middle;
  font-size: 0; }
  .yvp_button_play::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 40px solid rgba(0, 0, 0, 0);
    border-width: 22px 0 22px 32px;
    border-left-color: #fff; }

.yvp_controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 5;
  -moz-transition: bottom 0.6s ease;
  -webkit-transition: bottom 0.6s ease;
  transition: bottom 0.6s ease; }

.yvp_button, .yvp_prograss_wrap {
  background-color: rgba(0, 0, 0, 0.4); }

.yvp_button {
  height: 3.75em;
  width: 4.6875em;
  float: left; }
  .yvp_button button {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer; }
  .yvp_button .yvp_btn_val {
    display: block;
    margin: auto;
    width: 1.75em;
    height: 1.75em;
    overflow: hidden;
    background-size: contain; }

.yvp_button .yvphicon {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center; }
  .yvp_button .yvphicon:before {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1em;
    text-align: center; }

.yvp_next {
  margin-left: 1px; }

.yvp_fullscreen .yvphicon {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 29px;
  text-align: center; }
  .yvp_fullscreen .yvphicon:before {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.70em;
    text-align: center; }

.yvp_fullscreen, .yvp_muted {
  float: right;
  width: 3.3125em;
  margin-left: 1px; }

.yvp_prograss_wrap {
  height: 3.75em;
  margin-left: 9.5em;
  margin-right: 6.75em;
  overflow: hidden;
  padding-top: 1.125em; }

.yvp_progress {
  height: 1.75em;
  padding: 0 7.9375em 0 3.8125em;
  position: relative; }
  .yvp_progress .yvp_time_panel {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    font-size: 0.875em;
    width: 3.75em;
    text-align: center;
    color: #00bcd4;
    font-family: Arial; }
  .yvp_progress .yvp_time_panel_total {
    left: auto;
    right: 4.375em; }
  .yvp_progress .yvp_time_total {
    position: relative;
    top: 11px;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff; }
  .yvp_progress .yvp_time_loaded, .yvp_progress .yvp_time_current {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #00e2ff; }
  .yvp_progress .yvp_time_loaded {
    z-index: 1;
    background-color: #c1e7ec;
    border: 0 none; }
  .yvp_progress .yvp_time_handle {
    position: absolute;
    display: block;
    z-index: 3;
    top: -5px;
    right: -8px;
    width: 16px;
    height: 16px;
    font-size: 0;
    border-radius: 16px;
    border: 2px solid #0be2fe;
    background: #fff;
    background-image: -webkit-linear-gradient(135deg, #dedede, #fdfdfd);
    background-image: -o-linear-gradient(135deg, #dedede, #fdfdfd);
    background-image: linear-gradient(135deg, #dedede, #fdfdfd);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }
  .yvp_progress .yvp_contplay {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1.625em;
    padding-right: 0.3125em;
    line-height: 1.3125em;
    top: 0.125em; }
    .yvp_progress .yvp_contplay .checkbox {
      position: absolute;
      width: 1.3125em;
      height: 1.3125em;
      left: 0;
      top: 0; }
    .yvp_progress .yvp_contplay .checkflag {
      width: 0.8125em;
      height: 0.8125em;
      position: absolute;
      top: 4px;
      left: 4px;
      background-position: -1.75em -0.25em;
      display: none; }
    .yvp_progress .yvp_contplay b {
      font-weight: normal;
      font-size: 12px;
      color: #fbfbfb; }
  .yvp_progress .yvp_contplay_check .checkflag {
    display: block; }

.yvp_progress_status {
  padding: 0;
  height: 4px;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  .yvp_progress_status .yvp_time_total {
    top: 0;
    height: 3px; }
